@font-face {
    font-family: 'myfont';
    src: url('../font/Vazir-Medium.woff2') format('woff2');
}
*{
    padding:0;
    margin: 0;
    font-family: 'myfont';
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: white;
}
p{
    font-size: 22px;
}
.im{
    width: 50px;
}
.d1{
    display: flex;
    align-items: center;
}
ul.menu{
    display: flex;
    gap: 19px;
    align-items: center;
    font-size: 17px;
    
}
.p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    box-shadow: 5px 0 5px 0 rgb(206, 206, 206); 
    padding: 7px;

}
.p2{
    background-color: #FFFFF0;
    height: 300px;
}
.login1{
    
    padding: 5px 10px;
    border-radius: 8px;
    color: rgb(58, 55, 55);
    font-size: 19px;
}
.im2{
    width: 26px;
    
}
.in{
    padding: 8px;
    border-radius: 5px;
    background-color: #ECEFF1;
    width:220px;
    height: 33px;
    border: none;
    outline: none;
   
    
}
.div1, .div2,.div3,.div4{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a1,.a2,.a3{
    background-color: #8BC34A;
    padding: 8px;
    border-radius: 4px;
    color:white;
    font-size: 18px;
}
p{
    padding: 40px;
    font-size: 17px;
}
.alogin{
    background-color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    box-shadow:0 3px 3px 0 hsla(0, 3%, 87%, 0.925);
    color: black;
    
}
.lefthead{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bx-tada{
    background-color:white;
    padding: 8px;
    border-radius: 6px;
}
.fr{
    display: flex;
    align-items: center;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
main{
    margin-top: 60px;
}